.container {
  width: 1000px;
}

.container .brand {
  display: inline-block;
  margin: 7px  0 0 14;
}

.container .language .dropdown-menu {
  background: #222;
}

.container .language .dropdown-menu li a {
  color: #9d9d9d;
}

.container .language .dropdown-menu li a:hover {
  background: #222;
  color: #fff;
}

.banner {
  margin-top: -13px;
}

.banner .carousel .item img {
  width: 100%;
  height: 657px;
}

.engine {
  padding: 100px 0 40px;
  background: #fbfaf7;
}

.engine .left h2 {
  font-size: 48px;
  color: #0078d7;
}

.engine .left .small {
  font-size: 30px;
  color: #666;
  padding: 24px 0 80px;
}

.engine .left .list .item {
  padding-bottom: 50px;
}

.engine .left .list .item h3 {
  font-size: 20px;
  color: #333;
  margin: 0 0 7px;
}

.engine .left .list .item p {
  font-size: 14px;
  color: #666;
  line-height: 25px;
}

.engine .left .list .item img {
  width: 64px;
  max-width: 64px;
  height: 64px;
  background: #0078d7;
  padding: 0 15px;
}

.engine .right {
  margin-top: -43px;
}

.engine .right img {
  padding-top: 50px;
  width: 366px;
  height: 464px;
}

.adv {
  padding: 89px 0;
}

.adv .left img {
  width: 309px;
  max-width: 309px;
  height: 396px;
  padding-top: 101px;
}

.adv .right h2 {
  font-size: 48px;
  color: #8fc31f;
  padding: 8px 0 34px;
  color: #8fc31f;
  font-size: 48px;
}

.adv .right .list .item {
  padding-bottom: 16px;
}

.adv .right .list .item p {
  font-size: 14px;
  color: #666;
  line-height: 55px;
}

.adv .right .list .item p:before {
  content: '';
  width: 55px;
  height: 55px;
  display: inline-block;
  float: left;
  border-radius: 50%;
  background: #8fc31f url(../images/adv-list.png) no-repeat;
  margin: 0 11px 0 7px;
}

.in-gamelist {
  background-color: #0079d7;
  padding-top: 119px;
  padding-bottom: 22px;
  color: white;
}

.in-gamelist > div > div > div {
  margin-bottom: 80px;
}

.in-gamelist h2 {
  text-align: center;
  margin: 0 0 84px  0;
  font-size: 48px;
}

.in-gamelist h3 {
  margin: 0 0 28px 0;
  font-size: 31px;
}

.in-gamelist p {
  line-height: 26px;
}

.in-gamelist img {
  width: 71px;
  display: block;
  margin: 0  auto 0;
}

.list {
  padding: 82px 0 0 0;
}

.list h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

.list .video {
  width: 317px;
  display: block;
  margin: auto;
}

.list img {
  width: 67px;
  display: block;
  margin: auto;
}

.list p {
  text-align: center;
}

.partner {
  padding: 24px 0 52px 0;
}

.partner h2 {
  font-size: 30px;
  margin-bottom: 41px;
}

.partner .container img {
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.partner .container div {
  margin-bottom: 12px;
}

.link, .footer .right .email, .footer .right .wx, .footer .right .qq {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 0 10px;
}

.footer {
  background: #3b3b3b;
  padding: 35px 0 35px;
}

.footer .left {
  padding-left: 7px;
}

.footer .left nav a {
  display: inline-block;
  padding: 0 13px;
  color: #a1a3ab;
  font-size: 14px;
}

.footer .left p {
  padding: 14px 0 0 13px;
  color: #a1a3ab;
  font-size: 12px;
  margin-bottom: 0;
}

.footer .right {
  padding-right: 5px;
}

.footer .right .email {
  background: url(../images/contact.png) no-repeat 0px 0;
}

.footer .right .wx {
  background: url(../images/contact.png) no-repeat -58px 0;
}

.footer .right .qq {
  background: url(../images/contact.png) no-repeat -116px 0;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
  .footer p {
    text-align: center;
  }
  .engine .left {
    text-align: center;
  }
}

@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 425px) {
  .container {
    width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 990px) {
  .container {
    width: 990px;
  }
  .container {
    width: 990px;
  }
}
