.title {
  margin-top: 47px;
}

.title h1 {
  font-size: 30px;
  color: #ff6b08;
  margin-bottom: 37px;
}

.title img {
  display: block;
  width: 302px;
  margin: 0 auto 44px;
}

.list .row {
  margin-bottom: 69px;
}

.list .row:nth-child(1) h3 {
  color: #ff6b08;
}

.list .row:nth-child(1) button {
  color: white;
  background-color: #ff6900;
}

.list .row h3 {
  font-size: 18px;
  margin: 0;
}

.list .row p:nth-child(2) {
  font-size: 14px;
  margin: 24px 0 22px 0;
}

.list .row p:nth-child(3) {
  line-height: 30px;
  margin-bottom: 24px;
}

.list .row button {
  float: right;
  border: 1px solid #ff6900;
  background: none;
  width: 97px;
  height: 34px;
  color: #ff6900;
  border-radius: 20px;
  line-height: 34px;
}

.list .row button:hover {
  color: white;
  background-color: #ff6900;
}

.page .container {
  padding-top: 39px;
  border-top: 1px dashed #d4d4d4;
  display: flex;
  justify-content: center;
}

.page .container a {
  color: black;
}

@media (max-width: 990px) {
  .list img {
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }
}
